Onvif/Connected Services/ServiceReference1/humanbody.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tt="http://www.onvif.org/ver10/schema" xmlns:bd="http://www.onvif.org/ver20/analytics/humanbody" xmlns:fc="http://www.onvif.org/ver20/analytics/humanface" elementFormDefault="qualified" targetNamespace="http://www.onvif.org/ver20/analytics/humanbody" version="19.12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../../ver10/schema/common.xsd" namespace="http://www.onvif.org/ver10/schema" />
  <xs:simpleType name="BodyShape">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fat" />
      <xs:enumeration value="Thin" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BodyMetric">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int">
        <xs:annotation>
          <xs:documentation>Describe the Stature of the body, the unit is centimeter.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BodyShape" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describle the Shape of the body, acceptable values are defined in bd:BodyShape.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Scarf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Scarf, acceptable values are defined in ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Wear" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body wears the Scarf.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Gloves">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of Gloves, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Wear" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body wears Gloves.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="TopsCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LongSleeve" />
      <xs:enumeration value="ShortSleeve" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Grain">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Stria" />
      <xs:enumeration value="Plaid" />
      <xs:enumeration value="PureColour" />
      <xs:enumeration value="Decal" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TopsStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tailor" />
      <xs:enumeration value="Jacket" />
      <xs:enumeration value="Sweater" />
      <xs:enumeration value="Overcoat" />
      <xs:enumeration value="Dress" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Tops">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Category of the Tops, acceptable values are defined in bd:TopsCategory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Tops, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Grain" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Grain of the Tops, acceptable values are defined in bd:Grain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Style" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Style of the Tops, acceptable values are defined in bd:TopsStyle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="BottomsCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Trousers" />
      <xs:enumeration value="Shorts" />
      <xs:enumeration value="Skirt" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BottomsStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FornalPants" />
      <xs:enumeration value="Jeans" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Bottoms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Category of the Bottoms, acceptable values are defined in bd:BottomsCategory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Bottoms, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Grain" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Grain of the Bottoms, acceptable values are defined in bd:Grain.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Style" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Style of the Bottoms, acceptable values are defined in bd:BottomsStyle.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="ShoesCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LeatherShoes" />
      <xs:enumeration value="Sneakers" />
      <xs:enumeration value="Sandal" />
      <xs:enumeration value="Slipper" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Shoes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Category of the Shoes, acceptable values are defined in bd:ShoesCategory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Shoes, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Clothing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Scarf" type="bd:Scarf">
        <xs:annotation>
          <xs:documentation>Describe the Scarf of the body,acceptable values are defined in bd:Scarf.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Gloves" type="bd:Gloves">
        <xs:annotation>
          <xs:documentation>Describe Gloves of the body,acceptable values are defined in bd:Gloves.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tops" type="bd:Tops">
        <xs:annotation>
          <xs:documentation>Describe the Tops of the body,acceptable values are defined in bd:Tops.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bottoms" type="bd:Bottoms">
        <xs:annotation>
          <xs:documentation>Describe the Bottoms of the body,acceptable values are defined in bd:Bottoms.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Shoes" type="bd:Shoes">
        <xs:annotation>
          <xs:documentation>Describe the Shoes of the body,acceptable values are defined in bd:Shoes.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="KnapsackCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SingleShoulderBag" />
      <xs:enumeration value="Backpack" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Bag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Category of the Bag, acceptable values are defined in bd:KnapsackCategory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Colour of the Bag, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Umbrella">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Bag, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Open" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body Opens the Umbrella.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Box">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Box, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Lug" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body Lugs the Box.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="CartCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BabyCarriage" />
      <xs:enumeration value="TwoWheelVehicle" />
      <xs:enumeration value="Tricyle" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the Category of the Cart, acceptable values are defined in bd:CartCategory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Color" type="tt:ColorDescriptor">
        <xs:annotation>
          <xs:documentation>Describe the Color of the Cart, acceptable values are defined in tt:ColorDescriptor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="Belonging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bag" type="bd:Bag">
        <xs:annotation>
          <xs:documentation>Describe the Bag of the body,acceptable values are defined in bd:Bag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Umbrella" type="bd:Umbrella">
        <xs:annotation>
          <xs:documentation>Describe the Umbrella carried by the body,acceptable values are defined in bd:Umbrella.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LiftSomething" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body Lifts something.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Box" type="bd:Box">
        <xs:annotation>
          <xs:documentation>Describe the Box luffed by the body,acceptable values are defined in bd:Box.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cart" type="bd:Cart">
        <xs:annotation>
          <xs:documentation>Describe the Cart pushed by the body,acceptable values are defined in bd:Cart.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Weapon" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Describe if the body carries the Weapon.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:simpleType name="Smoking">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoSmoking" />
      <xs:enumeration value="Cigar" />
      <xs:enumeration value="ElectronicCigarettes" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsingMobile">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByLeftHand" />
      <xs:enumeration value="ByRightHand" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HumanActivity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Walking" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Fallen" />
      <xs:enumeration value="Squatting" />
      <xs:enumeration value="Sitting" />
      <xs:enumeration value="Standing" />
      <xs:enumeration value="Driving" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Behaviour">
    <xs:sequence>
      <xs:element minOccurs="0" name="Smoking" type="bd:Smoking">
        <xs:annotation>
          <xs:documentation>Acceptable values are defined in bd:Smoking.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UsingMobile" type="bd:UsingMobile">
        <xs:annotation>
          <xs:documentation>Acceptable values are defined in bd:UsingMobile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Activity" type="xs:string">
        <xs:annotation>
          <xs:documentation>Describe the activity of the body, Acceptable values are defined in bd:HumanActivity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
  <xs:complexType name="HumanBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyMetric" type="bd:BodyMetric">
        <xs:annotation>
          <xs:documentation>Describe the body metric of the body.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Clothing" type="bd:Clothing">
        <xs:annotation>
          <xs:documentation>Describe the Clothing of the body.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Belonging" type="bd:Belonging">
        <xs:annotation>
          <xs:documentation>Describe the Belonging of the body.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Behaviour" type="bd:Behaviour">
        <xs:annotation>
          <xs:documentation>Describe the Behaviour of the body.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax" />
    </xs:sequence>
    <xs:anyAttribute processContents="lax" />
  </xs:complexType>
</xs:schema>